.Header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:  black;
  color: white;
  width: 100%;
  height: 80px;
  padding: 1rem;
  z-index: 999;
  box-sizing: border-box;
  padding: 15px;
 
  font-weight: bold;
   

   
}

/* .image{
  width: 20%;
  border: 2px solid;
  img{
    width: 20%;
  }
} */
.navlist {
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
  cursor: pointer;
}

.navlist .navLink {
  color: white;
  background-color: none !important;
}

.btn {
  color: white;
  border: 1px wheat;
  background-color: cadetblue;
  border: 1px solid white;
}

.nav-right {
  display: flex;
  margin-left: 16%;
  gap: 10px;
  /* margin-right: 10px; */
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.login-icon {
  font-size: 28px;
  color: beige;
}

@media screen and (max-width: 950px) {
  .navlist {
    display: none;
  }

  .btn {
    display: none;
  }
}
 