*{

    font-family: Arial, Helvetica, sans-serif;
     /* background-color:#15171C; */
 }

.Birthday {
    background-image: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,q_auto:eco,dpr_1,f_auto,fl_progressive/image/vm/1aec036f-a67a-4830-b176-98b0e4301e8f.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    
}
.Birthday>.navCards>a{
    text-decoration: none;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
}
#button{
     
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
      >button{
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        color: #fd0404;
        font-family: Arial, Helvetica, sans-serif;
         
      }
       :hover{

        color: black;
      }
}
.navCards{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    flex-wrap: wrap;
    margin-top: -400px;
    
  

>div{
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
}
     
}

#video-card{
    display: flex;
    width: 300px;
}
/* #videossss{
    display: flex;
} */


/* .Startingpage{

}
@media (min-width:1200px){
    .Startingpage{
        margin: auto;
        max-width: 1200px;
    } 

} */

.Home-Workouts{
    margin-top:100px;
}
.TrainerInfo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 100px; */
     
    >div{
        background-color: #2D3745;
        border-radius: 10px;
         
    }
     
}
.subscription{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    color: white;
    font-size: 20px;
}