* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo img {
  margin-right: 5px;
}

.brand-text {
  color: white;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.dark-theme {
  background-color: #333;
  color: white;
}

.light-theme {
  background-color: #f0f0f0;
  color: black;
}
