body {
  background-color: rgb(3, 11, 3);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 6%;
  color: white;
  font-weight: bold;
}

.logo {
  width: 60px;
  cursor: pointer;
  border-radius: 30%;
}

.texts {
  display: flex;
}

.texts > a {
  display: inline-block;
  margin: 10px 20px;
  font-size: 20px;
  text-decoration: none !important;
  color: white;
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 28px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav-link,
.get-app-btn,
.login-icon {
  color: white;
  text-decoration: none !important;
}

.get-app-btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: darkslategrey;
}

.login-icon {
  font-size: 28px;
}

@media (max-width: 900px) {
  .texts {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .hamburger-icon {
    display: block;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
