/* Footer.css */
.footer {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
  margin: auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-logo-container {
  flex-basis: 25%;
}

.footer-logo {
  width: 100px;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 14px;
  color: #aaa;
}

.footer-links-container {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links h4 {
  margin-bottom: 15px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-app-links {
  display: flex;
  flex-direction: column;
}

.app-store-link,
.google-play-link {
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
}

.social-link {
  display: inline-block;
  margin-right: 20px;
  font-size: 24px;
  color: #aaa;
}
